# operating system and editor leftovers
.DS_Store
Thumbs.db
*~

*.log
npm-debug.log*

node_modules
.npm-cache

# what building the site produces
.build
public

# what running the site produces
secrets
sessions.sqlite*
